html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.alert-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-alert {
    width: 400px;
    text-align: center;
}
.modal-top-centered {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}