<div class="alert-container">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-@TempData["AlertType"] alert-dismissible fade show custom-alert" role="alert">
            <strong>@TempData["AlertTitle"]</strong> @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>
